.filterForm {
  margin: 10px 0px 0px 0px;
  padding-left: 10px;
}

.divForm {
  position: fixed;
  top: 200px;
  margin: 10px 0px 30px 17px;
  width: 340px;
  height: 90px;
  border-radius: 10px;
  border: solid rgb(245, 243, 243) 1px;
  background: #f7f6f6;
}

.label {
  display: block;
  margin: 0px 0px 2px 100px;
}
.select {
  margin: 0px 0px 0px 100px;
}
.button {
  margin: 8px 0px 0px 100px;
}
