.form {
  height: 150px;
  width: 375px;
  border: solid black 1px;
  border-radius: 10px;
  padding: 8px;
  margin-top: 20px;
  background-color: rgb(238, 235, 235);
}

.button {
  margin: 6px;
}

.input {
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 100px;
}

.label {
  display: block;
  margin-left: 100px;
}

.select {
  margin-left: 100px;
}
