.question {
  height: 100px;
  width: 375px;
  background-color: rgb(237, 218, 218);
  border-radius: 10px;
  border: solid black 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer {
  height: 100px;
  width: 375px;
  background-color: rgb(231, 238, 195);
  border-radius: 10px;
  border: solid black 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  border: solid rgb(16, 17, 15) 1px;
  height: 20px;
  width: 100px;
  border-radius: 10px;
  background: rgb(231, 234, 231);
  margin: 5px;
}
