.question {
  height: 120px;
  width: 340px;
  border-radius: 10px;
  border: solid rgb(250, 249, 249) 1px;
  margin: 10px 0px 10px 17px;
  background: #e0dfdf;
}

.answer {
  height: 120px;
  width: 340px;
  border-radius: 10px;
  border: solid rgb(245, 244, 244) 1px;
  margin: 10px 0px 10px 17px;
  background: #e0dfdf;
}

.button {
  border: solid rgb(16, 17, 15) 1px;
  height: 20px;
  width: 100px;
  border-radius: 10px;
  background: rgb(231, 234, 231);
  margin: 5px 0px 0px 0px;
}
